body {
	background-image: url(https://preview.redd.it/cigarettes-after-sex-desktop-wallpapers-hd-v0-mwkvciep25yb1.png?width=1920&format=png&auto=webp&s=bca5b25aa04165c9815b299f81e3c15a7289fa0f);
    background-attachment: fixed;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: top-left;
    background-size: 100%;	
}

.erm div {
	float: left;
}

img {
	width: 450px;
	height: 250px;
}

div {
	margin-left: auto;
	margin-right: auto;
}